<h1 class="text-center">Liste des produits</h1>

<p-button label="Créer produit" (onClick)="onCreate()" class="block text-center"/>

<p-dataView #dv [value]="products()" [rows]="4" [paginator]="true">
  <ng-template pTemplate="header">
    <div class="flex justify-content-end">
      <p-dataViewLayoutOptions/>
    </div>
  </ng-template>
    <ng-template pTemplate="list" let-products >
        @for (product of products; track product) {
          <app-product-view [product]="product"
                            [badgeValue]="badgeValue(product)"
                            [productQuantityInCart]="productQuantityInCart(product)"
                            (onCartQtyChange)="onCartQtyChange($event, product)"
                            (onUpdate)="onUpdate($event)"
                            (onDelete)="onDelete($event)"
          />
        }
    </ng-template>
  <ng-template pTemplate="grid" let-products>
    <div class="grid grid-nogutter">
      @for (product of products; track product) {
        <div class="col-12 sm:col-6 md:col-6 xl:col-6 p-2">
          <app-product-view [product]="product"
                            [badgeValue]="badgeValue(product)"
                            [productQuantityInCart]="productQuantityInCart(product)"
                            (onCartQtyChange)="onCartQtyChange($event, product)"
                            (onUpdate)="onUpdate($event)"
                            (onDelete)="onDelete($event)"
          />
        </div>
      }
    </div>
  </ng-template>
</p-dataView>

<p-dialog [(visible)]="isDialogVisible"
    [style]="{ width: '50vw' }"
    header="Ajout/Edition produit">
    <app-product-form
        [product]="editedProduct()"
        (save)="onSave($event)"
        (cancel)="onCancel()"
    />
</p-dialog>
